@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body,
html, * {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #9EABB2;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a {
  color: #4C545C;
  font-weight: 600;
}

h1,
h2,
h3,
p {
  text-align: center;
  font-weight: 400;
}

h1,
h2,
p {
  margin-left: 8%;
  margin-right: 8%;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.016em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 46px;
    line-height: 55px;
  }
}

h2 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.016em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 43px;
  }
}

h3 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.016em;
  margin-bottom: 11px;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0075em;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
    line-height: 30px;
    max-width: 751px;
    margin: 0 auto;
  }
}

a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

a:hover {
  color: hsl(171, 66%, 44%);
  transition: color 100ms ease-in-out;
}

ul {
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 23px;
}

/* Buttons */

button {
  display: block;
  margin: 0 auto;
  width: 310px;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  border: none;
  font-size: 18px;
  line-height: 30px;
  padding-top: 13px;
  padding-bottom: 11px;
  font-weight: 600;
  border-radius: 35px;
  outline: none;
}

button:active {
  transform: scale(.95);
  transition: transform 300ms ease-in-out;
}

button:hover,
button:active {
  cursor: pointer;
}

button#ios-btn {
  background-color: #26bba4;
  box-shadow: 3px 3px 5px #006f58;
  margin-bottom: 26px;
}

button#ios-btn:hover,
button#ios-btn:active {
  background-color: #5DCDBB;
  transition: background-color 200ms ease-in-out;
}

button#mac-btn {
  background-color: #6174FF;
  box-shadow: 3px 3px 5px #1528b3;
}

button#mac-btn:hover,
button#mac-btn:active {
  background-color: #8896FF;
  transition: background-color 200ms ease-in-out;
}

@media only screen and (min-width: 992px) {
  form {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 0;
    max-width: 227px;
  }

  button#ios-btn {
    margin-bottom: 0;
    margin-right: 22px;
  }
}

/* Images */

#logo-large {
  display: block;
  margin: 0 auto 64px;
}

@media only screen and (min-width: 992px) {
  #logo-large {
    margin-bottom: 55px;
  }
}

#logo-small {
  position: relative;
  display: block;
  top: 50px;
  margin: 0 auto 85px;
  width: 55px;
  height: 55px;
}

/* Header */

header {
  position: relative;
  padding-top: 125px;
  margin-bottom: 155px;
}

header:before {
  content: "";
  background-image: url('../images/bg-header-mobile.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 55vh;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  header:before {
    background-image: url('../images/bg-header-desktop.png');
    height: 363px;
  }
  header {
    margin-bottom: 130px;
  }
}

.hero-text {
  margin-bottom: 55px;
}

/* Features/CTA section */

.features {
  margin-bottom: 185px;
}

@media only screen and (min-width: 992px) {
  .features {
    margin-bottom: 130px;
  }
}

.features-text {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .features-text {
    font-size: 16px;
    line-height: 30px;
    max-width: 365px;
  }
}

#features-main-text {
  margin-bottom: 65px;
}

@media only screen and (min-width: 992px) {
  #features-main-text {
    max-width: 751px;
    margin-bottom: 85px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 70px;
  }
}

#features-img, #access-img {
  width: 84%;
  margin: 0 8% 58px;
  display: block;
  max-width: 500px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 991px)  {
  #features-img {
    max-width: 680px;
  }
}

@media only screen and (min-width: 992px) {
  #features-img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  #features-wrapper {
    display: flex;
    position: relative;
  }
  #features-img {
    flex: 1;
    margin: 0;
    width: 100%;
    max-width: 50vw;
    position: relative;
    left: -25px;
  }
  #features-content {
    flex: 1;
    height: 406px;
    padding-left: 100px;
    padding-top: 50px;
  }
  #features-content h3,
  #features-content p {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .features-text {
    margin-left: 0;
  }
}

/* Access section */

.access-text {
  margin-bottom: 70px;
}

@media only screen and (min-width: 992px) {
  .access-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 110px;
  }
}

#access-img {
  width: 90%;
  margin: 0 5% 95px;
}

@media only screen and (min-width: 768px) {
  #access-img {
    display: block;
    max-width: 880px;
    /* height: 475px; */
    margin: 0 auto 65px;
  }
}

/* Supercharge section */

.supercharge {
  margin-bottom: 166px;
}

.supercharge h2 {
  margin-bottom: 9px;
}

@media only screen and (min-width: 768px) {
  .supercharge h2 {
    margin-bottom: 17px;
  }
}

#supercharge-main-text {
  margin-bottom: 95px;
}

@media only screen and (min-width: 992px) {
  #supercharge-main-text {
    margin-bottom: 75px;
  }
}

.supercharge-text {
  margin-bottom: 70px;
}

.supercharge-text:last-of-type {
  margin-bottom: 135px;
}

@media only screen and (min-width: 992px) {
  #supercharge-columns {
    display: flex;
    justify-content: center;
  }
  #supercharge-columns img {
    height: 36px;
  }
  .supercharge-column {
    max-width: 350px;
  }
  .supercharge-column:not(:last-child) {
    margin-right: 27px;
  }
  .supercharge-text {
    font-size: 16px;
    line-height: 30px;
  }
}

.supercharge img {
  display: block;
  margin: 0 auto 35px;
}

.supercharge img.company-logo:not(:last-of-type) {
  margin-bottom: 59px;
}

#google-logo {
  width: 139px;
}

#ibm-logo {
  width: 121px;
  height: 48px;
}

#microsoft-logo {
  width: 135px;
  height: 34px;
}

#hp-logo {
  width: 113px;
}

#vectorgraphics-logo {
  width: 105px;
}

/* CTA section */

.cta-text {
  margin-bottom: 55px;
}

.cta {
  margin-bottom: 180px;
}

/* Footer */

footer {
  background-color: #F5F7F7;
  height: 540px;
  position: relative;
}

.footer-links {
  margin-bottom: 45px;
}

/* .footer-links a {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 120px;
} */

.footer-social-links {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto 30px;
  padding-bottom: 45px;
  height: 27px;
}

.svg-class {
  width: 24px;
  height: 24px;
  overflow: visible;
}

a .svg-class:hover path {
  fill: hsl(171, 66%, 44%);
  transform: translateY(-0.1em);
  transition: fill 100ms ease-in-out, transform 100ms ease-in-out;
}